#eventpost a{
	width: 250px;
	height:50px;
	float: right;
	margin-top:10px;
	margin-right:5px;
	margin-bottom:10px;
}
#events {
	clear: right;
	width: 100%;
	height: 700px;
	margin-right: auto;
	margin-left: auto;
}
#option {
	width: 300px;
	height: 45px;
	display: block;
	float: left;
	margin-bottom:10px;
	margin-left: 50px;
}
#option label {
	margin-top:10px;
}
#list {
	display: block;
	clear: right;
	width:103rem;
	margin-right: auto;
	margin-left: auto;
	margin-top:35px;
}
#list td{
	height:66px;
	margin: auto;
}
.events_name  {
	width: 900px;
}
.school_year {
	width: 250px;
}
.events_date {
	width: 250px;
}
.details_link {
	width: 250px;
}
#page {
	clear: right;
	text-align: center;
	width: 103rem;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
}