#reservation {
	width: 100%;
	height:5rem;
}
#room-floor {
	width:5rem;
	height: auto;
	margin-right:25px;
	vertical-align: middle;
	float: right;
}
#room-lan-port {
	margin-top: 15px;
	margin-right:25px;
	float: right;
}
#room-power-port {
	margin-top: 15px;
	margin-right:25px;
	float: right;
}
#room-size {
	margin-top: 15px;
	margin-right:25px;
	float: right;
}
#btn-search {
	width:200px;
	height:50px;
	margin-top: 15px;
	margin-right:25px;
	float: right;
}
#btn-room-search {
	width:200px;
	height:50px;
	display: block;
}
#plans{
	clear: left;
	width:103rem;
	height:45rem;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#page {
	clear: left;
	text-align: center;
	width: 100%;
	height: 50px;
	margin-top: 10px;
}
