#reservation {
	width: 1600px;
	height: 250px;
	display: block;
	margin: auto;
}
#plans{
	width: 1600px;
	height:700px;
	display: block;
	margin: auto;
	overflow: auto;
}
#roomlist {
	width:1500px;
	display: block;
	margin: auto;
}
#roomfloor {
	width: 200px;
}
