#search {
	width: 750px;
	height: 80px;
	margin-top: 30px;
}
#search-name {
	width: 500px;
	margin-right:30px;
	margin-left:10px;
	float: left;
}
#search-btn {
	width: 50px;
	height: 20px;
	margin-top: 10px;
}
#teacher-list {
	width: 1300px;
	height: 1200px;
	display: block;
	margin: auto;
	overflow: auto;
}
.teacher-name {
	text-align: center;
	vertical-align: middle;
}
.teacher-enrollment {
	text-align: center;
	vertical-align: middle;
}
.teacher-lamp {
	text-align: center;
	vertical-align: middle;
}
.teacher-date {
	text-align: center;
	vertical-align: middle;
}

#teacher_list_box th{
	text-align: center;
	vertical-align: middle;
}
#teacher_list_box td{
	text-align: center;
	vertical-align: middle;
}
#lamp_color_green {
	width:auto;
	height:10px;
	background-color:rgb(75, 236, 65);
}
#lamp_color_orange {
	width:auto;
	height:10px;
	background-color:#ed6d35;
}
#lamp_color_gray {
	width:auto;
	height:10px;
	background-color:rgb(161, 161, 161);
}
