#achievement {
  width: 103rem;
  height:35rem;
  display: block;
  margin: auto;
}
#subjectCode {
  width:100px;
  font-size: 15px;
}
#subjectName {
  width:250px;
  font-size: 15px;
}
#subjectScore {
  width:100px;
  font-size: 15px;
}
#subjectRating {
  width:100px;
  font-size: 15px;
}
.code {
  width:100px;
  font-size: 15px;
}
.name {
  width:250px;
  font-size: 15px;
}
.score{
  width:100px;
  font-size: 15px;
}
.rating {
  width:100px;
  font-size: 15px;
}

#contact {
  width: 103rem;
  height:15rem;
  display: block;
  margin: auto;
  margin-top:15px;
}
#contactComment {
  width: 103rem;
  height:35rem;
  display: block;
  margin: auto;
}
